<h1>Daily Three:</h1>

<form role="form">
	<div class="form-group">
		<%= form_for :questions do |q| %>
	<p>
		<%= q.label :text, "1. " + Game.first.questions[rand(0..10)].text %>
		<%= q.text_field :answer %>
	</p>

	<p>
		<%= q.label :text, "2. " + Game.first.questions[rand(11..20)].text %>
		<%= q.text_field :answer %>
	</p>

	<p>
		<%= q.label :text, "3. " + Game.first.questions[rand(21..32)].text %>
		<%= q.text_field :answer %>
	</p>

	<p> 
		<%= q.submit 'Not Sure', :class => 'button' %>
		<%= link_to "<button>Next</button>".html_safe, '/numbers/dailythreen', :id => "button_id", :class => "button_class" %>
	</p>

	<%end%>
</div>






