<h1>For the First Five Numbers:</h1>

<form role="form">
	<div class="form-group">
		<%= form_for :questions do |q| %>
	<p>
		<%= q.label :text, "1. " + Game.first.questions[rand(0..5)].text %>
		<%= q.text_field :answer %>
	</p>

	<p>
		<%= q.label :text, "2. " + Game.first.questions[rand(6..10)].text %>
		<%= q.text_field :answer %>
	</p>

	<p>
		<%= q.label :text, "3. " + Game.first.questions[rand(11..15)].text %>
		<%= q.text_field :answer %>
	</p>

	<p>
		<%= q.label :text, "4. " + Game.first.questions[rand(16..20)].text %>
		<%= q.text_field :answer %>
	</p>

	<p>
		<%= q.label :text, "5. " + Game.first.questions[rand(21..25)].text %>
		<%= q.text_field :answer %>
	</p>

	<p>	<h2>Now, for the MEGA Question: </h>
		<%= q.label :text, Game.first.questions[rand(25..32)].text %>
		<%= q.text_field :answer %>
	</p>

	<p> 
		<%= q.submit 'Not Sure About These Questions...'%>
		<%= link_to "<button>Ok, What's Next?</button>".html_safe, '/numbers/megan', :id => "button_id", :class => "button_class" %>
	</p>

	<%end%>
</div>






