<h1>Congratulations!!!</h1>
<%= form_for @number do |number| %>

<p>
    <%= number.label :number, "Your Lucky Numbers Are:"%>
    <%= number.text_area(:number, :value => ("Daily Three: " + [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].shuffle.pop(1).to_s + " " + [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].shuffle.pop(1).to_s + " " + [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].shuffle.pop(1).to_s)) %>

	<%= number.label :time, "Generated at this lucky point in time:"%>
	<%= number.text_area(:time, :value => (Time.now.utc.iso8601)) %>
</p>

<p>
<%= number.submit "Good Luck!!!" %>
</p>

<%end%>