 <div id="indexcontainer"> 
  <h1>My Lucky Numbers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @numbers.each do |number| %>
  
    <tr>
      <td><%= number.number %></td>
      <td><%= number.time %></td>
      <td><a href='/numbers/edit/<%= number.id%>'></a></td>
      <td>
        <% if current_user.unumbers.include? number %>
        <%= button_to "X", { action: "destroy", id: number.id}, {method: :delete, :class => "mybutton"}
      %>
        <%= link_to 'edit', edit_number_path(number) %>
      <% end %>
    </td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to "<button>Get more lucky numbers!</button>".html_safe, 'games#home', :id => "button_id", :class => "button_class" %>
    </td>
  </tr>
</table>
</div>