<h1>Sign Up</h1>

<br /><%= form_for @user do |u| %>

<p><%= u.label :username, 'Username' %></p>
<%= u.text_field :username%></br>

<p><%= u.label :email, 'Email' %></p>
<%= u.text_field :email%><br />

<p><%= u.label :password, 'Password' %></p>
<%= u.text_field :password, {type: 'password'} %><br />

<p><%= u.label :password_confirmation, 'Confirm Password' %></p>
<%= u.text_field :password_confirmation, {type: 'password'} %>
<br /> <br />

	<%= u.submit 'Create an Account', :class => 'button' %>
	
<% end %>

<hr />



