<h1>Sign Up</h1>

<br /><%= form_for @user do |u| %>
<%= u.label :username, 'Username' %>
<%= u.text_field :username%></br>

<%= u.label :email, 'Email' %>
<%= u.text_field :email%><br />

<%= u.label :password, 'Password' %>
<%= u.text_field :password, {type: 'password'} %><br />

<%= u.label :password_confirmation, 'Confirm Password' %>
<%= u.text_field :password_confirmation, {type: 'password'} %>
<br />
	<%= u.submit 'Create an Account' %>
<% end %>

<hr />



