<!DOCTYPE html>
<html>
<head>
  <title>Get Numbers | Winning Generator</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">
	
	<nav>
		<ul class="nav nav-tabs">
			<li><a href="/"><span class="glyphicon glyphicon-search">Home</span></a></li>
			<% if current_user %>
			<li><a href="/numbers">My CA Lottery Numbers List</a></li>
			<% end %>
			<li><a href="/users/new">Sign Up</a></li>
			<li><a href="/authentications/new">Log In</a></li>
			
		
		<% if current_user %>
		<li><%= 'Welcome, ' + current_user[:username].to_s + "!" %></li>
		<% end %>

		<% if current_user %>
		<li><%= button_to "Log out", "/authentications", method: :delete %></li>
		<% end %>
		</ul>
	</nav>



<%= yield %>
</div>
</body>
</html>
